<div class="container">
    <mat-card class="card-content">
        <form #vehicleForm4="ngForm">
            <label class="heading">Set 3</label>

            <div class="row">
                <div class="column">
                    <div><label>Vehicle Type</label></div>
                </div>
                <div class="column">
                    <div><label>Image</label></div>
                </div>
                <div class="column">
                    <div><label>Distance</label></div>
                </div>
                <div class="column">
                    <div><label>Cost</label></div>
                </div>
                <div class="column">
                    <div><label>Travel Time</label></div>
                </div>
                <div class="column">
                    <div><label>Fascilities(AC)</label></div>
                </div>
                <div class="column">
                    <div><label>Choice</label></div>
                </div>

            </div>

            <div class="row">
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Normal Bus</label></div>
                </div>
                <div class="column">
                    <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;">
                </div>
                <div class="column">
                    <div><label>{{distanceA3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costA3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeA3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityA3}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set3option1">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Normal Bus + Train</label></div>
                </div>
                <div class="column">
                    <div><img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"></div>
                </div>
                <div class="column">
                    <div><label>{{distanceB3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costB3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeB3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityB3}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set3option2">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Low Floor A/C Bus</label></div>
                </div>
                <div class="column">
                    <div><img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"></div>
                </div>
                <div class="column">
                    <div><label>{{distanceC3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costC3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeC3}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityC3}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set3option3">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button mat-raised-button routerLink="/comp5" routerLinkActive="active" class="btn btn-default" type="button" (click)="onNext(vehicleForm4)" [disabled]="vehicleForm4.invalid" required>Next</button>
                <button mat-raised-button routerLink="/comp3" routerLinkActive="active" class="btn btn-default" type="button" (click)="onSkip(vehicleForm4)" [disabled]="vehicleForm4.invalid" required>Skip & Submit</button>
            </div>

        </form>
    </mat-card>
</div>