<div class="container">
    <mat-card class="card-content">
        <form #vehicleForm6="ngForm">
            <label class="heading">Set 5</label>

            <div class="row">
                <div class="column">
                    <div><label>Vehicle Type</label></div>
                </div>
                <div class="column">
                    <div><label>Image</label></div>
                </div>
                <div class="column">
                    <div><label>Distance</label></div>
                </div>
                <div class="column">
                    <div><label>Cost</label></div>
                </div>
                <div class="column">
                    <div><label>Travel Time</label></div>
                </div>
                <div class="column">
                    <div><label>Fascilities(AC)</label></div>
                </div>
                <div class="column">
                    <div><label>Choice</label></div>
                </div>

            </div>

            <div class="row">
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
                <div class="column">
                    <div><label></label></div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Normal Bus</label></div>
                </div>
                <div class="column">
                    <img class="png-icon" src="../../../assets/bus.jpg" style="max-width: 100px; min-width: 100px;">
                </div>
                <div class="column">
                    <div><label>{{distanceA5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costA5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeA5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityA5}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set5option1">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Normal Bus + Train</label></div>
                </div>
                <div class="column">
                    <div><img class="png-icon" src="../../../assets/train.jpg" style="max-width: 100px; min-width: 100px;"></div>
                </div>
                <div class="column">
                    <div><label>{{distanceB5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costB5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeB5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityB5}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set5option2">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div><label>Low Floor A/C Bus</label></div>
                </div>
                <div class="column">
                    <div><img class="png-icon" src="../../../assets/lowfloor.jpg" style="max-width: 100px; min-width: 100px;"></div>
                </div>
                <div class="column">
                    <div><label>{{distanceC5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{costC5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{travelTimeC5}}</label></div>
                </div>
                <div class="column">
                    <div><label>{{fascilityC5}}</label></div>
                </div>
                <div class="column">
                    <div>
                        <mat-form-field>
                            <mat-select [(value)]="set5option3">
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button mat-raised-button routerLink="/comp1" routerLinkActive="active" class="btn btn-default" type="button" (click)="onSubmit(vehicleForm6)" [disabled]="vehicleForm6.invalid" required>Submit</button>
            </div>

        </form>
    </mat-card>
</div>